



table,table, th, td {
  

  margin-left: 100px;
        border: 1px solid black;
        padding: 15px;
     
}
.center {
    margin-left: auto;
    margin-right: auto;
  }
  
th{
    
        background-color: #4CAF50;
        color: white;
      
}


tr:hover {background-color: #ABEBC6 ;}